
*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  background-color: #F6F8FE;
  font-family: 'Noto Sans Syloti Nagri', sans-serif;
  margin: 0;
}


